@font-face {
  font-family:"IMFell";
  src: url("../assets/fonts/IMFellEnglishSC-Regular.ttf");
}

@font-face {
  font-family:"Rubik";
  src: url("../assets/fonts/RubikWetPaint-Regular.ttf");
}

@font-face {
  font-family:"Yuji";
  src: url("../assets/fonts/YujiBoku-Regular.ttf");
}

@font-face {
  font-family:"Noto";
  src: url("../assets/fonts/NotoSansOldItalic-Regular.ttf");
}

@font-face {
  font-family:"Uncial";
  src: url("../assets/fonts/UncialAntiqua-Regular.ttf");
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  user-select: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow:hidden;
}

.ancients {
  position: relative;
  height: 100%;
  width: 100%;
}

.ancients-img {
  position: fixed;
  top: 20%;
  width: 20vw;
  border-radius: 5px;
  transition: .6s;
}

.cht {
  left: 4vw;
}
.shub {
  left: 28vw;
}
.iog {
  left: 52vw;
}
.aza {
  left: 76vw;
}

.max:hover {
  transform: scale(1.2);
  box-shadow: 1px 1px 15px 5px white;
  cursor: pointer;  
}

.max:active {
  box-shadow: 1px 1px 15px 5px red;
}

.ancients-img-active {
  left: 25px;
}

.hidden {
  opacity: 0;
  visibility: 0;
}

.hidden-none {
  display: none;
}

.start {
  position: fixed;
  top: 1vw;
  left: 1vw;
  height: auto;
  width: auto;
  background-color: transparent;
  outline: none;
  border: none;
  font-family:"IMFell";
  font-size: 35px;
  text-shadow: 0 2px black;
  color:#7c8181;
  z-index: 100;
  cursor: pointer;
  transition: .3s;
}

.start:hover {
  color: #c9c9c9;
  transform: scale(1.05);
}

.levels {
  position: fixed;
  width: 20vw;
  top: 20%;
  right: -30vw;
  list-style: none;
  color:#7c8181;
}

.level {
  position: relative;
  height: 60px;
  text-align: center;
  font-size: 44px;
  font-family:"IMFell";
  text-shadow: 0 3px black;
  line-height: 60px;
  border-radius: 10px;
  z-index: 100;
  cursor: pointer;
  opacity: 0.7;
  transition: .5s;
}

.level:hover {
  opacity: .8;
}

.level-active {
  transform: translate(-60vw);
}

.level + .level {
  margin-top: 10px;
}

.extra-easy:hover {
  color: #c9c9c9;
}

.easy:hover {
  color: #3ea7a6;
}

.normal:hover {
  color: #a7973e;
}

.hard:hover {
  color: #a73e3e;
}

.extra-hard:hover {
  color: #940a0a;
}

.desk{
  position: fixed;
  top: -50%;
  right: 50%; 
  width: 50vw;
  height: 25vw;

  display: grid;
  grid-template-columns: 22.5vw 22.5vw;
  grid-gap: 0 5vw;

  background: rgba(74, 74, 74, .2);
  border-radius: 5px;
  box-shadow: inset 0 0 70px black;
  transform: translate(50%, -50%);
  transition: .3s;
}

.desk-active {
  top: 50%;
}

.desk-back {
  grid-column: 1 / 2;
  width: 14vw;
  margin: auto auto;
  border-radius: 5px;
  cursor: pointer;
  transition: .3s;
  filter: hue-rotate(90deg);
}

.desk-back:hover {
  box-shadow: 1px 1px 15px 1px hsla(270, 55%, 40%, 1);
}

.desk-face {
  grid-column: 2 / 3;
  width: 14vw;
  margin: auto auto;
  border-radius: 5px;
  transition: .3s;
}


.desk-face:hover {
  transform: scale(1.4);
}

.score{
  position: fixed;
  top: 120%;
  right: 25px; 
  width: 20vw;
  height: 14vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 5px;
  transition: .3s;
}

.score-active {
  top: 20%;
}

.score-title {
  text-align:center;
  font-size: 25px;
  font-family:"IMFell";
  text-shadow: 0 3px black;
  color:#7c8181;
  line-height: 60px;
}

.score-cont {
  width: 100%;
  display: flex;
  margin-bottom: 1vw;
  justify-content: space-around;
}

.score-num {
  width: 50px;
  height: 55px;
  padding-bottom: 5px;
  border-radius: 50px;
  font-size: 45px;
  font-family:"Noto";
  text-shadow: 0 3px black;
  color:#7c8181;
  line-height: 50px;
  text-align: center;
}

.score-brown {
  border-bottom: 2px solid #a7643e;
}

.score-green {
  border-bottom: 2px solid #72a73e;
}

.score-blue {
  border-bottom: 2px solid #3e99a7;
}
